*.class
.db
.DS_Store
*.orig
*.log
.idea/
.settings/
.metals/
.vscode/
.classpath
.project
.cache
target/
.iml
.java-version
.scannerwork
# Ignorer les fichiers générés ou temporaires spécifiques
obp-api/src/main/scripts/kafka/logs/
obp-api/src/main/scripts/kafka/tmp/
obp-api/src/test/resources/
!obp-api/src/test/resources/frozen_type_meta_data
/obp-commons/src/main/resources/git.properties
/obp-api2/
# Inclure uniquement les fichiers nécessaires dans resources
obp-api/src/main/resources/*
!obp-api/src/main/resources/props/
!obp-api/src/main/resources/log4j.properties
